* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;   
}

html, body{
    height: 100%;
}

header {
    display: flex; /*keeps everything on screen*/
    justify-content: space-between; /*keep uniform spacing*/
    align-items: center;
    padding: 30px 10%;
    background-color: rebeccapurple;
}

header li, a, button {
    text-decoration: none;
}

#header_img {
    width: 250px;
    height: 80px;
    float:top;
}

nav {
    padding-left: 20px;
}

nav li {
    display: inline-block; /*no more bullets*/
    padding: 20px;
    
}

nav li:hover {
    background-color: green;
}

nav a {
    color: white;
}

#blurb {
    color: rebeccapurple;
    padding: 100px;
}

footer{
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rebeccapurple;
    color: white;
    text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: left;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

